<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="AdminMobil"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.AdminMobile"
        tools:targetApi="31">
        <activity android:name=".tambahjadwal"
            android:exported="false"/>

        <activity android:name=".dataprofileActivity"
            android:exported="false"/>

        <activity android:name=".ProfileMitraActivity"
            android:exported="false"/>

        <activity android:name=".syaratketentuanActivity"
            android:exported="false"/>

        <activity android:name=".pusatbantuanActivity"
            android:exported="false"/>

        <activity android:name=".akunProfile"
            android:exported="false"/>

        <activity
            android:name=".rincianPesanan"
            android:exported="false" />

        <activity
            android:name=".daftarPesanan"
            android:exported="false" />

        <activity
            android:name=".spesifikasiMobil"
            android:exported="false" />

        <activity
            android:name=".editDataMobil"
            android:exported="false" />

        <activity
            android:name=".tambahDataMobil"
            android:exported="false" />

        <activity
            android:name=".dataMobil"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>