<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="AdminMobil"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdminMobile"
        tools:targetApi="31">
        <activity android:name=".BokingAdmin.DetailRiwayatBokingAdmin"
            android:exported="false"/>
        <activity
            android:name=".FragmentAkun.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BokingAdmin.BokingAdmin"
            android:exported="false"/>

        <activity android:name=".FragmentAkun.DataProfileActivity"
            android:exported="false"/>

        <activity android:name=".FragmentAkun.ProfileMitraActivity"
            android:exported="false"/>

        <activity android:name=".FragmentAkun.SyaratKetentuanActivity"
            android:exported="false"/>

        <activity android:name=".FragmentAkun.PusatBantuanActivity"
            android:exported="false"/>

        <activity android:name=".FragmentAkun.AkunProfile"
            android:exported="false"/>
        <activity
            android:name=".BokingAdmin.RincianBokingAdmin"
            android:exported="false" />
        <activity
            android:name=".BokingAdmin.DaftarBokingAdmin"
            android:exported="false" />
        <activity
            android:name=".Mobil.TambahMobil"
            android:exported="false" />
        <activity
            android:name=".Mobil.DataMobil"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentAkun.Register"
            android:exported="true"/>
        <activity
            android:name=".Riwayatcustumuer.DetailRiwayat"
            android:exported="false" />
    </application>

</manifest>